@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');

:root {
  --dark: #191919;
  --primary: #00645e;
  --gray: #e0e0e0;
  --editColor: #c3b812;
  --deleteColor: #ba1128;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

.kanit-light {
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-bold {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  font-style: normal;
}
